In [1]:
import os 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
from langchain.agents import load_tools
from langchain_experimental.agents import create_pandas_dataframe_agent 
from langchain.chat_models import ChatOpenAI
from datetime import datetime
import sqlite3

In [3]:
import os
import glob

conn = sqlite3.connect('/workspaces/LLM_Testing/Data/GO_GTFS/gtfs.db')


# Specify the directory path
directory_path = '/workspaces/LLM_Testing/Data/GO_GTFS'

# Create a cursor object using the connection
cursor = conn.cursor()

# Loop through all the files in the directory
for file_name in os.listdir(directory_path):
    if file_name.endswith('.txt'):
        file_path = os.path.join(directory_path, file_name)
        table_name = os.path.splitext(file_name)[0]
        
        #read dataframe
        df = pd.read_csv(file_path,low_memory=False)
        #export to db
        df.to_sql(table_name, con=conn, if_exists='replace', index=False)


# Commit the changes and close the connection
conn.commit()
conn.close()

In [25]:

# Connect to the SQLite database
conn = sqlite3.connect('/workspaces/LLM_Testing/Data/GO_GTFS/gtfs.db')

# Create a cursor object
cursor = conn.cursor()

# Query to retrieve the list of tables
query = "SELECT name FROM sqlite_master WHERE type='table';"

# Execute the query
cursor.execute(query)

# Fetch all results
tables = cursor.fetchall()

# Print the list of tables
print("List of tables in the database:")
for table in tables:
    print(table[0])

# Close the connection
conn.close()

List of tables in the database:
agency
trips
stop_amentities
stops
fare_rules
transfers
stop_times
routes
calendar_dates
feed_info
fare_attributes
shapes

In [11]:
from langchain.llms import OpenAI
from langchain.utilities import SQLDatabase
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit


# from langchain.agents import AgentExecutor
from langchain.agents.agent_types import AgentType

db = SQLDatabase.from_uri(f'sqlite:////workspaces/LLM_Testing/Data/GO_GTFS/gtfs.db')



agent = create_sql_agent(
    llm = ChatOpenAI(model_name="gpt-4",temperature=0),
    toolkit=SQLDatabaseToolkit(db=db, llm=llm),
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [12]:
agent('how many stations are there?')

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: agency, calendar_dates, fare_attributes, fare_rules, feed_info, routes, shapes, stop_amentities, stop_times, stops, transfers, trips
Thought:The 'stops' table seems to be the most relevant to the question as it likely contains information about the stations.
Action: sql_db_schema
Action Input: "stops"
Observation:
CREATE TABLE stops (
	stop_id TEXT,
	stop_name TEXT,
	stop_lat REAL,
	stop_lon REAL,
	zone_id INTEGER,
	stop_url TEXT,
	location_type INTEGER,
	parent_station REAL,
	wheelchair_boarding INTEGER,
	stop_code REAL
)

/*
3 rows from stops table:
stop_id	stop_name	stop_lat	stop_lon	zone_id	stop_url	location_type	parent_station	wheelchair_boarding	stop_code
WR	West Harbour GO	43.266775	-79.866222	18	https://www.gotransit.com/find-a-station-or-stop/WR/station-details	0	None	1	None
WH	Whitby GO	43.86484	-78.93818	93	https://www.gotransit.com/find-a-station-or-stop/WH/station-details	0	None	1	None
WE	Weston GO	43.70022	-79.514671	4	https://www.gotransit.com/find-a-station-or-stop/WE/station-details	0	None	1	None
*/
Thought:The 'stops' table contains information about the stations. I can count the number of unique 'stop_id' to get the total number of stations.
Action: sql_db_query_checker
Action Input: "SELECT COUNT(DISTINCT stop_id) FROM stops"
Observation: SELECT COUNT(DISTINCT stop_id) FROM stops
Thought:The query is correct. Now I can execute it to get the number of stations.
Action: sql_db_query
Action Input: "SELECT COUNT(DISTINCT stop_id) FROM stops"
Observation: [(911,)]
Thought:I now know the final answer
Final Answer: There are 911 stations.

> Finished chain.

{'input': 'how many stations are there?', 'output': 'There are 911 stations.'}

In [17]:
agent('the database holds GTFS data for GO Transit. on January 4th, how many trips stop at Oakville GO between 7am and 8am that go east')

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: agency, calendar_dates, fare_attributes, fare_rules, feed_info, routes, shapes, stop_amentities, stop_times, stops, transfers, trips
Thought:The relevant tables for this query seem to be "trips", "stops", "stop_times", and "calendar_dates". I will now check the schema of these tables to understand their structure and the data they hold.
Action: sql_db_schema
Action Input: "trips,stops,stop_times,calendar_dates"
Observation:
CREATE TABLE calendar_dates (
	service_id INTEGER,
	date INTEGER,
	exception_type INTEGER
)

/*
3 rows from calendar_dates table:
service_id	date	exception_type
20240104	20240104	1
20240103	20240103	1
20231228	20231228	1
*/


CREATE TABLE stop_times (
	trip_id TEXT,
	arrival_time TEXT,
	departure_time TEXT,
	stop_id TEXT,
	stop_sequence INTEGER,
	pickup_type INTEGER,
	drop_off_type INTEGER,
	stop_headsign TEXT
)

/*
3 rows from stop_times table:
trip_id	arrival_time	departure_time	stop_id	stop_sequence	pickup_type	drop_off_type	stop_headsign
20240422-21-21302	11:25:00	11:25:00	00181	18	0	0	None
20240422-21-21302	11:11:00	11:11:00	02788	17	0	0	None
20240422-21-21302	11:09:00	11:09:00	01247	16	0	0	None
*/


CREATE TABLE stops (
	stop_id TEXT,
	stop_name TEXT,
	stop_lat REAL,
	stop_lon REAL,
	zone_id INTEGER,
	stop_url TEXT,
	location_type INTEGER,
	parent_station REAL,
	wheelchair_boarding INTEGER,
	stop_code REAL
)

/*
3 rows from stops table:
stop_id	stop_name	stop_lat	stop_lon	zone_id	stop_url	location_type	parent_station	wheelchair_boarding	stop_code
WR	West Harbour GO	43.266775	-79.866222	18	https://www.gotransit.com/find-a-station-or-stop/WR/station-details	0	None	1	None
WH	Whitby GO	43.86484	-78.93818	93	https://www.gotransit.com/find-a-station-or-stop/WH/station-details	0	None	1	None
WE	Weston GO	43.70022	-79.514671	4	https://www.gotransit.com/find-a-station-or-stop/WE/station-details	0	None	1	None
*/


CREATE TABLE trips (
	route_id TEXT,
	service_id INTEGER,
	trip_id TEXT,
	trip_headsign TEXT,
	trip_short_name REAL,
	direction_id INTEGER,
	block_id TEXT,
	shape_id TEXT,
	wheelchair_accessible INTEGER,
	bikes_allowed INTEGER,
	route_variant TEXT
)

/*
3 rows from trips table:
route_id	service_id	trip_id	trip_headsign	trip_short_name	direction_id	block_id	shape_id	wheelchair_accessible	bikes_allowed	route_variant
01240424-21	20240422	20240422-21-21302	21D - Clarkson GO	None	0	strvl016	311638	1	1	21D
01240424-21	20240422	20240422-21-21263	21D - Lisgar GO	None	1	strvl016	311637	1	1	21D
01240424-21	20240422	20240422-21-21163	21D - Lisgar GO	None	1	strvl016	311637	1	1	21D
*/
Thought:The "stop_times" table has the arrival and departure times, and the "stops" table has the stop names. The "trips" table has the trip ids and direction ids, and the "calendar_dates" table has the service dates. I can join these tables on the relevant columns to get the information I need. I will first find the stop_id for "Oakville GO" from the "stops" table. Then, I will use this stop_id to find the trips that stop at this station between 7am and 8am from the "stop_times" table. I will join this with the "trips" table to get the direction of the trips. Finally, I will join this with the "calendar_dates" table to filter for the trips on January 4th. I will count the number of such trips. I will check this query before executing it.
Action: sql_db_query_checker
Action Input: "SELECT COUNT(*) FROM (SELECT st.trip_id FROM stop_times st JOIN stops s ON st.stop_id = s.stop_id WHERE s.stop_name = 'Oakville GO' AND st.arrival_time >= '07:00:00' AND st.arrival_time < '08:00:00') AS morning_trips JOIN trips t ON morning_trips.trip_id = t.trip_id JOIN calendar_dates cd ON t.service_id = cd.service_id WHERE t.direction_id = 0 AND cd.date = 20240104"
Observation: SELECT COUNT(*) FROM (SELECT st.trip_id FROM stop_times st JOIN stops s ON st.stop_id = s.stop_id WHERE s.stop_name = 'Oakville GO' AND st.arrival_time >= '07:00:00' AND st.arrival_time < '08:00:00') AS morning_trips JOIN trips t ON morning_trips.trip_id = t.trip_id JOIN calendar_dates cd ON t.service_id = cd.service_id WHERE t.direction_id = 0 AND cd.date = 20240104
Thought:The query syntax is correct. Now I will execute the query to get the number of trips.
Action: sql_db_query
Action Input: "SELECT COUNT(*) FROM (SELECT st.trip_id FROM stop_times st JOIN stops s ON st.stop_id = s.stop_id WHERE s.stop_name = 'Oakville GO' AND st.arrival_time >= '07:00:00' AND st.arrival_time < '08:00:00') AS morning_trips JOIN trips t ON morning_trips.trip_id = t.trip_id JOIN calendar_dates cd ON t.service_id = cd.service_id WHERE t.direction_id = 0 AND cd.date = 20240104"
Observation: [(1,)]
Thought:I now know the final answer
Final Answer: There was 1 trip that stopped at Oakville GO between 7am and 8am going east on January 4th.

> Finished chain.

{'input': 'the database holds GTFS data for GO Transit. on January 4th, how many trips stop at Oakville GO between 7am and 8am that go east',
 'output': 'There was 1 trip that stopped at Oakville GO between 7am and 8am going east on January 4th.'}